In [14]:
import pandas as pd
import numpy as np

In [18]:
pd.options.display.max_rows = 50

In [ ]:
project_dir = '/Users/navaneethan/Documents/projects/lighttime/'
raw_dir = project_dir + 'raw/'
processed_dir = project_dir + 'processed/'

In [91]:
oecd_metros = 'USMSAs_OECDmetros.xlsx'

In [4]:
oecd = pd.read_excel(raw_dir+oecd_metros)

In [5]:
oecd.shape

(555, 39)

In [62]:
zip(range(len(oecd.columns.to_list())), oecd.columns.to_list())

[(0, 'geoid10'),
 (1, 'Area'),
 (2, 'intptlat10'),
 (3, 'intptlon10'),
 (4, 'vi12_count'),
 (5, 'vi12_sum'),
 (6, 'vi12_mean'),
 (7, 'rad10count'),
 (8, 'rad10sum'),
 (9, 'rad10mean'),
 (10, 'ntl10count'),
 (11, 'ntl10sum'),
 (12, 'ntl10mean'),
 (13, 'van10count'),
 (14, 'van10sum'),
 (15, 'van10mean'),
 (16, 'FIPS'),
 (17, 'country'),
 (18, 'cnt_code'),
 (19, 'pop2010'),
 (20, 'gdp2010'),
 (21, 'logGDP'),
 (22, 'logNTL'),
 (23, 'logRAD'),
 (24, 'logVAN'),
 (25, 'logVI'),
 (26, 'logNTLsq'),
 (27, 'logRADsq'),
 (28, 'logVANsq'),
 (29, 'logVIsq'),
 (30, 'logNTLcub'),
 (31, 'logRADcub'),
 (32, 'logVANcub'),
 (33, 'logVIcub'),
 (34, 'latitude'),
 (35, 'usmsa'),
 (36, 'logPOP'),
 (37, 'logPOPsq'),
 (38, 'cnt_num')]

In [43]:
print np.any(oecd['geoid10'].notna()), np.all(oecd['geoid10'].notna())
~np.any(oecd['geoid10'].notna()), ~np.all(oecd['geoid10'].notna())

True False

(False, True)

In [56]:
oecd.head(n=30)

,geoid10,Area,intptlat10,intptlon10,vi12_count,vi12_sum,vi12_mean,rad10count,rad10sum,rad10mean,...,logVIsq,logNTLcub,logRADcub,logVANcub,logVIcub,latitude,usmsa,logPOP,logPOPsq,cnt_num
0,10180.0,"Abilene, TX",32.452023,-99.718742,39464,37939.820312,0.961378,9870,6.692220e+04,6.780365,...,111.170799,1276.897339,1371.806885,242.022430,1172.157837,32.452023,1,12.015227,144.365677,28
1,10420.0,"Akron, OH",41.146641,-81.350113,14777,93965.390625,6.358895,3685,2.486318e+05,67.471321,...,131.118118,1723.848511,1917.590454,343.431519,1501.391846,41.146641,1,13.463397,181.263046,28
2,10500.0,"Albany, GA",31.589302,-84.174911,27746,37421.792969,1.348727,6925,6.723366e+04,9.708832,...,110.881081,1345.686401,1373.527344,218.552963,1167.578735,31.589302,1,11.965961,143.184219,28
3,10580.0,"Albany-Schenectady-Troy, NY",42.787922,-73.942345,47248,89515.828125,1.894595,11813,2.130989e+05,18.039358,...,130.009491,1889.920776,1847.063599,385.681732,1482.390503,42.787922,1,13.677072,187.062271,28
4,10740.0,"Albuquerque, NM",35.116604,-106.456535,137158,138614.156250,1.010617,34294,2.527274e+05,7.369433,...,140.172562,1709.103394,1925.165649,434.795380,1659.566040,35.116604,1,13.695687,187.571838,28
5,10780.0,"Alexandria, LA",31.325335,-92.546883,28705,31949.281250,1.113021,7194,5.823375e+04,8.094766,...,107.576416,1323.608032,1320.941406,205.025848,1115.772339,31.325335,1,11.944201,142.663940,28
6,10900.0,"Allentown-Bethlehem-Easton, PA-NJ",40.789307,-75.398331,23486,80298.054688,3.418975,5867,2.203935e+05,37.564938,...,127.543159,1805.441284,1862.306030,370.372345,1440.408691,40.789307,1,13.618489,185.463242,28
7,11020.0,"Altoona, PA",40.497925,-78.310638,8348,16133.529297,1.932622,2083,4.050506e+04,19.445541,...,93.870033,1223.679077,1194.113892,180.241638,909.474365,40.497925,1,11.752643,138.124619,28
8,11100.0,"Amarillo, TX",35.184757,-101.626343,54359,60413.578125,1.111381,13626,1.143690e+05,8.393436,...,121.197403,1423.092041,1580.021240,306.992645,1334.258423,35.184757,1,12.436918,154.676941,28
9,11180.0,"Ames, IA",42.037537,-93.466095,9296,14765.592773,1.588381,2352,4.358037e+04,18.529068,...,92.161057,1208.702271,1218.994873,213.170975,884.751160,42.037537,1,11.402463,130.016159,28
10,11460.0,"Ann Arbor, MI",42.252327,-83.844635,11736,43006.914062,3.664529,2925,9.922756e+04,33.923954,...,113.830040,1497.481079,1522.927612,285.955322,1214.465942,42.252327,1,12.750693,162.580185,28
11,11500.0,"Anniston-Oxford, AL",33.771706,-85.822510,8889,22257.158203,2.503899,2217,4.408734e+04,19.886034,...,100.208488,1225.330566,1222.958618,172.594101,1003.128967,33.771706,1,11.683275,136.498932,28
12,11540.0,"Appleton, WI",44.290604,-88.372322,17458,37449.753906,2.145134,4351,1.236851e+05,28.426823,...,110.896812,1535.825439,1612.105469,299.121521,1167.827148,44.290604,1,12.326811,151.950272,28
13,11700.0,"Asheville, NC",35.595669,-82.681618,30286,42635.679688,1.407769,7573,1.042675e+05,13.768324,...,113.645126,1585.164673,1542.686646,282.054810,1211.507812,35.595669,1,12.959510,167.948914,28
14,12020.0,"Athens-Clarke County, GA",33.943985,-83.213898,15068,24050.621094,1.596139,3765,5.386471e+04,14.306697,...,101.766052,1290.802124,1292.973755,192.407730,1026.607422,33.943985,1,12.168064,148.061798,28
15,12060.0,"Atlanta-Sandy Springs-Marietta, GA",33.695290,-84.438942,123120,692891.625000,5.627775,30734,1.540045e+06,50.108829,...,180.865616,2612.058594,2892.009521,667.047241,2432.394531,33.695290,1,15.480710,239.652390,28
16,12100.0,"Atlantic City-Hammonton, NJ",39.469353,-74.633759,10494,46508.640625,4.431927,2628,1.027844e+05,39.111252,...,115.506462,1436.210571,1536.955566,242.249481,1241.393433,39.469353,1,12.522885,156.822647,28
17,12220.0,"Auburn-Opelika, AL",32.604065,-85.353050,8842,27659.398438,3.128184,2200,6.050252e+04,27.501148,...,104.606277,1255.228760,1334.793457,183.602936,1069.883789,32.604065,1,11.851160,140.449997,28
18,12260.0,"Augusta-Richmond County, GA-SC",33.437222,-81.956154,48094,137206.281250,2.852877,12022,2.436434e+05,20.266459,...,139.930939,1813.310181,1908.220825,361.979614,1655.276733,33.437222,1,13.244356,175.412964,28
19,12420.0,"Austin-Round Rock-San Marcos, TX",30.239513,-97.691269,59844,192855.875000,3.222643,14951,4.594079e+05,30.727568,...,148.101562,1989.406250,2216.166260,460.958130,1802.351318,30.239513,1,14.355675,206.085403,28
20,12540.0,"Bakersfield-Delano, CA",35.346630,-118.729507,120649,134578.937500,1.115458,30119,2.225788e+05,7.389979,...,139.473877,1864.427246,1866.790039,470.775635,1647.173462,35.346630,1,13.640718,186.069183,28
21,12580.0,"Baltimore-Towson, MD",39.304359,-76.549500,48392,328700.875000,6.792463,12091,7.937417e+05,65.647316,...,161.363754,2190.795166,2506.872559,501.284973,2049.788086,39.304359,1,14.812639,219.414291,28
22,12620.0,"Bangor, ME",45.390602,-68.657486,60994,22697.714844,0.372130,15239,6.157256e+04,4.040459,...,100.601295,1408.452515,1341.179565,219.486328,1009.032898,45.390602,1,11.944208,142.664093,28
23,12700.0,"Barnstable Town, MA",41.798820,-70.211082,21085,16766.113281,0.795168,5266,5.778242e+04,10.972733,...,94.616768,1439.616821,1318.133301,213.873047,920.348206,41.798820,1,12.282515,150.860168,28
24,12940.0,"Baton Rouge, LA",30.570885,-91.134621,59009,242653.765625,4.112149,14721,3.719351e+05,25.265614,...,153.744888,1940.636963,2110.191650,410.060638,1906.343018,30.570885,1,13.595468,184.836731,28
25,12980.0,"Battle Creek, MI",42.242989,-85.012383,11687,21211.001953,1.814923,2919,5.001931e+04,17.135769,...,99.246925,1307.409180,1266.781128,222.269547,988.725220,42.242989,1,11.821483,139.747467,28
26,13020.0,"Bay City, MI",43.699711,-83.978699,10558,15594.057617,1.476990,2651,4.101406e+04,15.471165,...,93.212173,1239.304810,1198.335571,206.516586,899.930481,43.699711,1,11.587764,134.276276,28
27,13140.0,"Beaumont-Port Arthur, TX",30.075945,-94.205490,33371,156278.890625,4.683075,8366,2.171865e+05,25.960609,...,143.027191,1670.543091,1855.657593,326.209930,1710.518921,30.075945,1,12.907164,166.594864,28
28,13380.0,"Bellingham, WA",48.842651,-121.836433,45817,31062.220703,0.677963,11483,5.114489e+04,4.453966,...,106.993111,1360.008179,1274.613281,177.401779,1106.709717,48.842651,1,12.211757,149.126999,28
29,13460.0,"Bend, OR",43.915119,-121.225578,51202,17757.880859,0.346820,12812,3.093029e+04,2.414166,...,95.738098,1179.460815,1105.344116,203.304413,936.757507,43.915119,1,11.968659,143.248795,28

In [54]:
pd.concat((oecd['country'].notna(), oecd['country']), axis=1)

    country      country
0      True          USA
1      True          USA
2      True          USA
3      True          USA
4      True          USA
5      True          USA
6      True          USA
7      True          USA
8      True          USA
9      True          USA
10     True          USA
11     True          USA
12     True          USA
13     True          USA
14     True          USA
15     True          USA
16     True          USA
17     True          USA
18     True          USA
19     True          USA
20     True          USA
21     True          USA
22     True          USA
23     True          USA
24     True          USA
..      ...          ...
530    True        Italy
531    True       Canada
532    True       Mexico
533    True       France
534    True       France
535    True        Japan
536    True        Japan
537    True       Mexico
538    True        Korea
539    True  Netherlands
540    True        Japan
541    True        Spain
542    True        Chile
543    True       Canada
544    True        Italy
545    True       Mexico
546    True        Japan
547    True       Poland
548    True      Austria
549    True       Canada
550    True       Poland
551    True       Mexico
552    True        Japan
553    True        Spain
554    True  Switzerland

[555 rows x 2 columns]

In [48]:
any_all_na = {}

for col in oecd.columns:
    any_all_na[col] = [~np.all(oecd[col].notna()), ~np.any(oecd[col].notna())]
#     print 'All NaN %s: %s' % (col, ~np.all(oecd[col].notna()))
#     print '1 or more NaN %s: %s' % (col, ~np.any(oecd[col].notna()))
#     print '\n'

In [49]:
any_all_na_df = pd.DataFrame.from_dict(any_all_na, orient='index')
any_all_na_df.rename(columns={0: 'some_na', 1: 'no_na'}, inplace=True)

In [50]:
any_all_na_df

            some_na  no_na
logVANsq      False  False
logNTLcub     False  False
vi12_count    False  False
Area          False  False
vi12_mean     False  False
logRADcub     False  False
logVAN        False  False
van10count    False  False
logVIcub      False  False
rad10count    False  False
ntl10mean     False  False
logNTLsq      False  False
logVI         False  False
pop2010       False  False
geoid10        True  False
usmsa         False  False
rad10sum      False  False
logRAD        False  False
latitude      False  False
logPOPsq      False  False
logVANcub     False  False
intptlon10    False  False
van10sum      False  False
logGDP        False  False
logVIsq       False  False
FIPS          False  False
intptlat10    False  False
gdp2010       False  False
ntl10sum      False  False
cnt_code      False  False
cnt_num       False  False
van10mean     False  False
country       False  False
logNTL        False  False
logRADsq      False  False
logPOP        False  False
vi12_sum      False  False
ntl10count    False  False
rad10mean     False  False

In [13]:
oecd['geoid10'].value_counts(dropna=False).head()

NaN        205
42100.0      1
24220.0      1
17900.0      1
41180.0      1
Name: geoid10, dtype: int64

In [16]:
oecd[np.isnan(oecd['geoid10'])].head(n=20)

,geoid10,Area,intptlat10,intptlon10,vi12_count,vi12_sum,vi12_mean,rad10count,rad10sum,rad10mean,...,logVIsq,logNTLcub,logRADcub,logVANcub,logVIcub,latitude,usmsa,logPOP,logPOPsq,cnt_num
350,NaN,The Hague,52.072620,4.367240,2243,252236.562500,112.455002,557,103143.132812,185.176178,...,154.706894,1136.008667,1538.348022,154.040573,1924.263306,52.072620,0,13.678876,187.111649,15
351,NaN,Aachen,50.744282,6.214940,5683,19028.416016,3.348305,1430,63629.867188,44.496410,...,97.095184,1320.198120,1353.206665,201.926147,956.745667,50.744282,0,13.269875,176.089569,5
352,NaN,Acapulco de Juarez,16.957211,-99.714302,8432,24884.607422,2.951210,2107,53010.589844,25.159273,...,102.454979,1121.755005,1287.291016,138.563889,1037.049805,16.957211,0,13.579752,184.409653,23
353,NaN,Aguascalientes,21.874880,-102.267387,11741,40883.085938,3.482079,2940,97615.507812,33.202553,...,112.751938,1287.514771,1516.432373,256.018524,1197.253296,21.874880,0,13.765476,189.488342,23
354,NaN,Amsterdam,52.401211,5.450020,21447,240945.093750,11.234443,5373,346656.781250,64.518295,...,153.569702,1869.678467,2075.643555,377.168121,1903.085571,52.401211,0,14.674578,215.343246,15
355,NaN,Anjo,34.939030,137.025558,1944,21484.173828,11.051530,486,71528.031250,147.177017,...,99.502060,1099.059937,1396.607056,189.130386,992.540161,34.939030,0,13.528877,183.030518,27
356,NaN,Antwerp,51.273731,4.467360,8700,122659.820312,14.098830,2175,282294.718750,129.790665,...,137.292068,1600.703735,1976.990356,299.335266,1608.674561,51.273731,0,13.867842,192.317047,2
357,NaN,Athens,38.037628,23.841700,9784,170434.609375,17.419727,2447,287685.312500,117.566536,...,145.108688,1583.478638,1985.942627,342.317047,1747.994873,38.037628,0,15.086284,227.595963,11
358,NaN,Augsburg,48.398281,10.828180,12634,16279.083008,1.288514,3159,78966.273438,24.997238,...,94.044151,1451.315796,1434.018921,248.241760,912.005981,48.398281,0,13.301452,176.928604,5
359,NaN,Barcelona,41.443192,1.992040,8444,203574.062500,24.108723,2115,389505.312500,184.163269,...,149.420929,1577.180664,2133.055420,325.410950,1826.489258,41.443192,0,15.117120,228.527313,8
360,NaN,Bari,41.026199,16.783621,4655,50568.675781,10.863303,1164,63931.417969,54.923901,...,117.312462,1242.631104,1354.942627,218.585617,1270.621460,41.026199,0,13.267155,176.017380,14
361,NaN,Basel,47.569851,7.585550,9842,27206.078125,2.764283,2451,89721.554688,36.606102,...,104.268517,1468.458496,1483.286011,251.304565,1064.706177,47.569851,0,13.549746,183.595596,3
362,NaN,Benito Juarez,21.012360,-87.046944,10537,32601.134766,3.093967,2644,61236.007812,23.160366,...,107.995789,1111.228516,1339.180786,130.389694,1122.303345,21.012360,0,13.401775,179.607590,23
363,NaN,Berlin,52.519878,13.346120,47126,128892.343750,2.735058,11789,492356.812500,41.764084,...,138.455994,2095.142334,2251.675537,469.549713,1629.174805,52.519878,0,15.291350,233.825394,5
364,NaN,Bilbao,43.267929,-2.989430,7269,75684.937500,10.412016,1826,105342.562500,57.690342,...,126.210274,1403.420654,1546.798828,205.258957,1417.888428,43.267929,0,13.812818,190.793945,8
365,NaN,Birmingham,52.479271,-1.845930,11068,88720.976562,8.015990,2777,237712.125000,85.600327,...,129.806183,1636.232788,1896.868774,305.333130,1478.914551,52.479271,0,14.449014,208.773987,22
366,NaN,Bochum,51.476139,7.227840,2376,16273.021484,6.848915,597,50389.714844,84.404884,...,94.036926,1135.316528,1269.374268,160.119186,911.900879,51.476139,0,13.378611,178.987213,5
367,NaN,Bologna,44.482780,11.386450,13275,58829.882812,4.431630,3316,94663.015625,28.547350,...,120.613228,1555.438110,1504.303223,303.633484,1324.623291,44.482780,0,13.521482,182.830475,14
368,NaN,Bonn,50.657421,7.120700,7812,21191.146484,2.712640,1955,72924.812500,37.301693,...,99.228271,1425.603027,1403.868652,232.638412,988.446411,50.657421,0,13.522498,182.857956,5
369,NaN,Bordeaux,44.791359,-0.691340,35917,92194.921875,2.566888,8987,180303.640625,20.062717,...,130.682861,1726.216431,1772.614258,352.142822,1493.921997,44.791359,0,13.930608,194.061844,10

In [75]:
oecd['country'].value_counts(dropna=False)

USA                350
Japan               36
Mexico              33
Germany             24
France              15
United Kingdom      15
Italy               11
Korea               10
Canada               9
Poland               8
Spain                8
Netherlands          5
Belgium              4
Austria              3
Chile                3
Czech Republic       3
Switzerland          3
Sweden               3
Greece               2
Portugal             2
Slovak Republic      1
Hungary              1
Estonia              1
Finland              1
Denmark              1
Ireland              1
Slovenia             1
Norway               1
Name: country, dtype: int64

In [79]:
european_countries = [
    'Germany', 
    'France',
    'United Kingdom',
    'Italy',
    'Poland',
    'Spain',
    'Netherlands',
    'Belgium',
    'Austria',
    'Czech Republic',
    'Switzerland',
    'Sweden',
    'Greece',
    'Portugal',
    'Slovak Republic',
    'Hungary',
    'Estonia',
    'Finland',
    'Denmark',
    'Ireland',
    'Slovenia',
    'Norway'
]

In [87]:
oecd.loc[oecd['is_europe'] == False, 'country'].value_counts(dropna=False).sum()

441

In [85]:
oecd['country'].value_counts(dropna=False).sum() - oecd['country'].value_counts(dropna=False).loc[european_countries].sum()

441

In [81]:
oecd['is_europe'] = oecd['country'].apply(lambda c: True if c in european_countries else False)

In [82]:
oecd['is_europe'].value_counts(dropna=False)

False    441
True     114
Name: is_europe, dtype: int64

In [92]:
oecd.to_csv(path_or_buf=processed_dir+'oecd_metros.csv', encoding='utf-8', index=False)